.page-content{
  max-width: 1200px;    
  margin: 0 auto;        
}


.upload-page {
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background-color: white;
  flex-direction: column;
  display:flex;

}

.title-section {
  text-align: left;
  padding: 20px 64px;

}

.upload-page-title h1{
font-size : 60px;
font-weight : 650;
font-family: "Istok Web";
margin-top: 60px;
margin-bottom:10px;
}

.upload-page-title p {
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 505;      
  color: black;   
  margin-bottom:10px;
}

.upload-frame-title{
  font-family: "Istok Web";
  font-size: 40px;
  font-weight : 650;
  color: black;    
  margin-bottom: -10px;
}

.upload-frame-select-img-title{
  font-family: "Istok Web";
  font-size: 22px;
  font-weight : 495;
  color: black;   
  margin-bottom: 20px;
 
}

.upload-button{
  font-family: "Istok Web";
  font-size: 22px;
  font-weight : 550;

  background-color:#7A003C;
  color:white;
  width: 300px;
  height:60px;
  
  border-radius: 8px;
  cursor: pointer;
  user-select: none;

  display:flex;
  align-items: center;
  justify-content: center;
}

.upload-info-text{

  font-family: "Istok Web";
  font-size: 20px;
  font-weight : 495;
  color: black;   
  margin-top:10px;
}

.upload-frame{
  max-width: 1159px;
  height:415px;
  margin: 4px auto 0 auto;
  display: flex;  
  justify-content: center;
  padding-top:20px;
  padding-left:  100px;
  padding-right: 100px;
            

  flex-direction: column;
  align-items: center;
  border: 2.3px solid #7A003C;
  background-color:rgba(122,0,60,0.15);
  border-radius:36px;
}

.upload-frame-content {
  max-width: 600px;
  text-align: center;
  gap:10px;
  display:flex;
  flex-direction: column;
  margin-top: -100px;
  margin-bottom:-20px;

  display:flex;
  align-items: center;
  justify-content: center;
}

.upload-success-encloses{
  width:100%;
  display:flex;
  justify-content: center;
}

.upload-success-view{
  max-width: 1159px;
  width:100%;
  margin: 30px auto 0 auto;
  padding: 10px 30px;

  border: 2.3px solid #7A003C;
  background-color:white;
  border-radius:36px;

  display: flex;
  flex-direction: column;
  gap:10px;
}

.image-del-sec{
display: flex;
align-items: center;
gap:200px;
}

.file-name-gen-button{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:10px;
}

.upload-success-view p{
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 505;      
  color: black;   
  margin-bottom:10px;
}

.upload-view-of-img{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap:5px;
}

.upload-view-of-img p{
  font-size:30px;

}

.img-preview{
  width: 300px;
  height:170px;
  object-fit: contain;
  border-radius: 20px;
}

.upload-view-of-img p {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;      
  color: black;   
  margin-bottom:0px
}

.gen-alt-text-button{
  font-size: 18px;
  font-weight : 510;

  background-color:#7A003C;
  color:white;
  width: 250px;
  height:60px;
  
  border-radius: 8px;
  cursor: pointer;
  user-select: none;

  display:flex;
  align-items: center;
  justify-content: center;
  margin: auto auto auto auto;
}

.delete-button{
  background-color: transparent;
  border:none;
  font-size: 18px;
  font-weight: 505;
  cursor: pointer;
  margin-top: 0px;
}

