.upload-page-content{
  width:100%;
  margin: 0 auto;
}


.upload-page {
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background-color: white;
  flex-direction: column;
  display:flex;

}

.title-section {
  text-align: left;
}

.upload-page-title h1{
font-size : 60px;
font-weight : 650;
font-family: "Istok Web";
margin-top: 60px;
margin-bottom:10px;
}

.upload-page-title p {
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 505;      
  color: black;   
}

.upload-frame-title{
  font-family: "Istok Web";
  font-size: 40px;
  font-weight : 650;
  color: black;    
  margin-bottom: -10px;
}

.upload-frame-select-img-title{
  font-family: "Istok Web";
  font-size: 22px;
  font-weight : 495;
  color: black;   
  margin-bottom: 20px;
 
}

.hiding-classic-button{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
}

.upload-button{
  font-family: "Istok Web";
  font-size: 22px;
  font-weight : 550;

  background-color:#7A003C;
  color:white;
  width: 300px;
  height:60px;
  
  border-radius: 8px;
  cursor: pointer;
  user-select: none;

  display:flex;
  align-items: center;
  justify-content: center;
}

.upload-section{
 margin-top:40px;
 display: flex;
 justify-content: center;
  padding: 0 24px;
}

.upload-info-text{

  font-family: "Istok Web";
  font-size: 20px;
  font-weight : 495;
  color: black;   
  margin-top:10px;
  padding-inline: 100px;
}

.upload-drag-file-box{
  max-width: 900px;
  width:100%;
  height:415px;
  display: flex;  
  justify-content: center;   
  align-items: center;
  
  border: 2.3px solid #7A003C;
  background-color:rgba(122,0,60,0.15);
  border-radius:36px;
}

.upload-frame-content {
  padding: 0 24px;

  text-align: center;
  gap:10px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upload-status-encloses{
  display:flex;
  justify-content: center;
}

.upload-success-view{
  margin: 20px 24px;
  padding:20px;
  max-width: 900px;
  width: 100%;

  border: 2.3px solid #7A003C;
  background-color:white;
  border-radius:36px;

  display: flex;
  flex-direction: column;
}

.upload-error-view{
  margin: 20px 24px;
  padding: 20px;
  max-width: 900px;
  width: 100%;
  border: 2.3px solid #7A003C;
  background-color:white;
  border-radius:36px;

  display: flex;
  flex-direction: column;
}


.image-del-sec{
display: flex;
align-items: center;
gap: 32px;
}


.file-name-gen-button{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  word-break: break-all;
  gap:10px;
}

.upload-success-view p{
  font-family: "Roboto";
  font-size: 23px;
  font-weight: 515;      
  color: black;   
  margin-bottom: 10px;
}

.upload-view-of-img{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.upload-view-of-img p{
  font-size:30px;

}

.img-preview{
  max-width: 300px;
  width: 100%;

  height:170px;
  object-fit: contain;
  border-radius: 20px;
}

.upload-view-of-img p {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;      
  color: black;   
  margin-bottom:0px
}

.gen-alt-text-button{
  font-size: 18px;
  font-weight : 510;

  background-color:#7A003C;
  color:white;
  max-width: 250px;
  width: 100%;
  height: 60px;
  
  border-radius: 8px;
  cursor: pointer;
  user-select: none;

  display:flex;
  align-items: center;
  justify-content: center;
  margin: auto auto auto auto;
}

.delete-button{
  background-color: transparent;
  border:none;
  font-size: 18px;
  font-weight: 505;
  cursor: pointer;
  margin-top: 0px;
}

.error-content{
  display: flex;
  align-items: flex-start;
  gap: 80px;
}

.error-logo{
  max-width: 150px;
  width: 100%;
  height: 150px;

  background-color: black;

  color:white;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size:100px;
  font-weight: 900;
  margin-left: 50px;
  border-radius: 50%
}

.error-title{
  font-family: "Roboto";
  font-size: 35px;
  font-weight: 500;      
  color: black;   
  margin-bottom: 5px;
}

.error-message{
  font-family: "Roboto";
  font-size: 25px;
  font-weight: 600;      
  color: black;   
  margin-bottom: 10px; 
}

.computed-alt-text-box
{
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  color:black ;
  background-color: white;
  border-radius: 20px;
  border: 2.5px solid #7A003C;  
  width: 80%;
  margin: 20px 20px;
  padding: 20px;
}
.save-changes-copy-alt-text-buttons{
  display:flex;
  align-items: center;
  justify-content: space-between;
  width:100%;
  gap:15px;
}

.save-edits-button{
  font-size: 18px;
  font-weight : 510;

  background-color:#7A003C;
  color:white;
  width: 100%;
  max-width: 300px;
  height:60px;
  
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
}

.copy-individual-text-button-upload-pg{
  font-size: 18px;
  font-weight : 510;

  background-color:#7A003C;
  color:white;
  width: 100%;
  max-width: 300px;
  height:60px;
  
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
}