.history-page-content {
    max-width: 1200px;
    margin: 0 20px;
    padding: 0 10px;
}

.history-page {
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
    background-color: white;
    flex-direction: column;
    display: flex;
}

.title-section {
    text-align: left;
    padding: 20px 64px;

}

.copy-all-button {
    font-family: "Istok Web";
    font-size: 22px;
    font-weight : 550;

    background-color:#7A003C;
    color:white;
    width: 300px;
    height:60px;
    
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
}

.history-list{
    gap:30px;
    display: flex;  
    flex-direction: column;
}

.history-item {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 18px 20px;
    
    border: 2.3px solid #7A003C;
    border-radius:36px;
    background-color:white;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 25px;
}

.history-image{
    width: 150px;
    height:170px;
    object-fit: contain;
    border-radius: 20px;
}

.alt-text{
    font-family: "Roboto";
    font-size: 18px;
    font-weight : 505;
    color: black;
    line-height: 1.5;
    max-width: 1000px;

    text-align: left;

}

.copy-individual-text-button{
    font-family: "Istok Web";
    font-size: 18px;
    font-weight : 550;

    background-color:#7A003C;
    color:white;
    width: 200px;
    height:50px;
    
    border-radius: 8px;
    cursor: pointer;

}

.history-card-right-col{
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}


.history-card-left-col{
    display: flex;
    align-items: center;
}

.alt-text-label{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-case-box{
    max-width: 1200px;
    width: 100%;
    padding: 18px 20px;
    border: 2.3px solid #7A003C;
    border-radius:36px;
    background-color:white;

    display: flex;
    align-items: center;
}

.error-text{
    font-family: "Roboto";
    font-size: 22px;
    font-weight : 505;
    color: black;
    margin: 0;
    text-align: left;
}

.error-symbol{
    font-size: 80px;
    font-weight : 515;
    margin: 0;
    color: black;
}
