.home-container {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 12px;
}

.home-subtitle {
  font-size: 16px;
  margin-bottom: 40px;
  color: #444;
}

.home-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.primary-btn,
.secondary-btn {
  padding: 12px 24px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  background-color: #7a003c;
  color: white;
}

.secondary-btn {
  background-color: #7a003c;
}
