.history-container {
    position: relative;
    padding: 40px;
}

.back-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 120px;
    background-color: #5b6df8;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 100;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.back-button:hover {
    background-color: #514dcd;
}

.back-button:focus-visible{
    outline: 3px solid #000;
    outline-offset: 3px;
}

.history-title{
    margin-left: 30px;
}
.history-list {
    margin-top: 60px;
    list-style: none;
    padding: 0;
}

.history-entry {
    background: #f4f4ff;
    padding: 15px;
    margin-bottom: 12px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 30px;
    width: 90%;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}

.history-entry:focus {
    outline: 3px solid #000;
    outline-offset: 3px;
}

.history-name,
.history-date,
.history-alt {
    margin: 8px 0;
}


.history-entry:hover {
    background: #e4e4ff;
}

.history-preview {
    margin-left: 30px;
    margin-top: 30px;
}

.preview-image {
    max-width: 400px;
    width: 80%;
    border-radius: 8px;
    margin-top: 15px;
}

